@charset "UTF-8";
/* colores */
/* letras */
/* $font-titulo:  preguntar a la profe como colocar otra fuente*/
/* tamaños : aun tengo definir :| */
/* MAP: Colección variables (clave-valor) */
.tamaño-h1 {
  font-size: 3rem; }

.tamaño-h2 {
  font-size: 2rem; }

.tamaño-h3 {
  font-size: 1rem; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__ico {
    background-color: #ffb6b9;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative; }
  .footer__parr {
    text-align: center;
    align-items: center;
    font-size: 17px;
    color: white; }
  .footer__redes {
    display: inline;
    width: 68px;
    padding: 0px 16px;
    margin-bottom: 10px; }
    .footer__redes:hover {
      transform: scale(1.25, 1.25);
      transition: all 0,5ms; }

header {
  background-color: #ffb6b9; }

li a {
  line-height: 1; }
  li a:hover {
    transform: scale(1.15, 1.25);
    transition: all 0,5ms; }

/* INICI0-index */
* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: fuente-titulos;
  src: url("../resources/GreatVibes-Regular.ttf"); }

body {
  background-color: white;
  font-family: "Roboto", sans-serif; }

.main__principal {
  display: grid;
  grid-template-columns: 1 1 1;
  grid-auto-rows: auto;
  grid-template-areas: "angulina    none     none";
  border: none;
  margin: 20px;
  margin-bottom: 0px;
  padding: 3px;
  max-width: 100%;
  height: 6vh; }
  .main__principal .angulina {
    grid-area: angulina; }
  .main__principal h1 {
    font-size: 48px;
    font-family: fuente-titulos;
    color: #00b1d0;
    line-height: 1;
    text-align: start; }

.history {
  font-family: fuente-titulos;
  color: white; }

/* NUESTRAS DELICIAS  */
.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-height: auto;
  justify-content: center; }
  .menu__titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-family: fuente-titulos;
    color: white; }
  .menu__info {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }

.croissant {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 5px;
  border: 1px solid #ffb6b9;
  border-radius: 15px; }
  .croissant__info p {
    width: 90%;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1; }
  .croissant h2 {
    font-family: fuente-titulos;
    color: white;
    text-align: center; }
  .croissant__img {
    width: 65%;
    height: 70%;
    margin-bottom: 15px;
    margin-top: 10px; }
  .croissant button {
    background-color: #cef6ee;
    padding: 5px;
    border-radius: 5px;
    border: none;
    align-content: center; }
    .croissant button:hover {
      transform: scale(1.2, 1.2);
      transition: all 0,4ms;
      color: #7b7bf1; }

/* GALERIA */
.galeria__titulo {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: fuente-titulos;
  color: white; }

.galeria__info {
  margin-bottom: 15px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  text-align: center; }

.galeria__grid {
  display: grid;
  width: fit-content;
  height: auto;
  padding: 20px;
  margin: 10px 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-areas: "spill   copas   tetera__dorada  flor__azul " "mesa    globos  ventana  taza__cartel"                          "mesita  babysh  servicio  sirviendote"; }
  .galeria__grid .tetera__dorada {
    grid-area: tetera__dorada; }
  .galeria__grid .taza__cartel {
    grid-area: taza__cartel; }
  .galeria__grid .sirviendote {
    grid-area: sirviendote; }
  .galeria__grid .flor__azul {
    grid-area: flor__azul; }
  .galeria__grid .mesa {
    grid-area: mesa; }
  .galeria__grid .globos {
    grid-area: globos; }
  .galeria__grid .spill {
    grid-area: spill; }
  .galeria__grid .copas {
    grid-area: copas; }
  .galeria__grid .mesita {
    grid-area: mesita; }
  .galeria__grid .ventana {
    grid-area: ventana; }
  .galeria__grid .babysh {
    grid-area: babysh; }
  .galeria__grid .servicio {
    grid-area: servicio; }

.galeria__contenedor {
  width: 100%;
  max-height: auto; }

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* EVENTOS */
.carousel-inner {
  height: 600px margin-bottom 5px; }
  .carousel-inner img {
    width: 100%;
    max-height: 600px; }

.evento__info {
  width: 100%;
  margin-bottom: 15px;
  padding: 0px 16px;
  text-align: center; }

h1, h2 {
  font-family: fuente-titulos;
  color: white; }

.iconos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .iconos__padre {
    background-color: #cef6ee;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px; }
  .iconos__hijo {
    margin: 10px;
    padding: 20px; }
  .iconos__img {
    width: 45px;
    height: 50px; }

/* EVENTO - Reserva */
.reserva {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .reserva__info {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0px 16px;
    text-align: center; }
    .reserva__info h2 {
      font-family: fuente-titulos; }

/* CONTACTO */
.card {
  border: none;
  width: 100%;
  height: auto; }

.contacto__petalos {
  width: 100%;
  height: auto; }
  .contacto__petalos img {
    width: 100%;
    max-height: 550px; }

.contacto__info {
  width: 100%;
  margin-bottom: 0px;
  padding: 0px 16px;
  text-align: center;
  color: white;
  font-family: fuente-titulos;
  border: none;
  justify-content: center; }

.mensaje {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .mensaje h2, .mensaje h3 {
    font-family: fuente-titulos;
    color: white; }

/* MEDIA QUERIE CEL indx*/
@media (min-width: 320px) and (max-width: 575px) {
  header {
    width: auto;
    height: auto; }
  .main__principal {
    margin-bottom: 0.5px; }
    .main__principal h1 {
      font-size: 29px;
      color: white;
      text-align: center;
      line-height: 35px; }
    .main__principal .angulina {
      grid-column: 1/2;
      grid-row: 1/2; }
  .footer {
    width: fit-content;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .footer__ico {
      justify-content: center; }
    .footer__parr {
      text-align: center;
      font-size: 23px;
      color: white; }
    .footer__redes {
      width: 60px; } }

/* MEDIA QUERIE TABLET - indx*/
@media (min-width: 576px) and (max-width: 992px) {
  .main__principal h1 {
    font-size: 40px; }
  .footer {
    width: fit-content;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .footer__ico {
      justify-content: center; }
    .footer__parr {
      text-align: center;
      font-size: 23px;
      color: white; }
    .footer__redes {
      width: 60px; } }

/* MEDIA QUERIE CEL DE GALERIA */
@media (min-width: 320px) and (max-width: 575px) {
  .galeria__grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-areas: "spill"              "copas"              "tetera__dorada"     "flor__azul" "mesa"               "globos" "mesita"             "taza__cartel"       "sirviendote" "ventana" "babysh" "servicio"; } }

/* MEDIA QUERIE TABLE GALERIA*/
@media (min-width: 576px) and (max-width: 992px) {
  .galeria__grid {
    flex-direction: column;
    width: fit-content;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-areas: "spill           copas"              "tetera__dorada  flor__azul" "mesa             globos" "mesita           taza__cartel"       "sirviendote      servicio" "ventana          babysh"; } }
