header{
    background-color: $color-principal;
}



li a{
    line-height: 1;

    &:hover{
        transform: scale(1.03,1.10);
        transition: all 0,5ms;
    } 
}

/* .nav-link:visited{
    color: blueviolet;
} */ /* Profe, no pude hacer andar ni el active, visited, solo el hover, pero no me tomar cambio de color */


