/* Extend */

.fontstyle {
    font-family:$font-titulo;
    font-size: $size-titulo;
    color:$color-title;
    } 

.fontstyle2 {
    font-family:$font-titulo;
    font-size: $size-subtitulo;
    color:$color-title;
}

