/* colores */
$color-principal: #ffb6b9;
$color-secundario: #cef6ee;
$color-terciario: white;

/* letras */
$font-principal: 'Roboto', sans-serif;
/* $font-titulo:  preguntar a la profe como colocar otra fuente*/

/* tamaños : aun tengo definir :| */





