/* colores */
$color-principal: #ffb6b9;
$color-secundario: #cef6ee;
$color-terciario: white;
$color-title:rgb(154, 78, 240);
$boton-color: rgb(147, 209, 208);

/* letras */
$font-principal: 'Roboto Condensed', sans-serif;
/* $font-titulo:  agregada desde resources*/
$font-titulo: GreatVibes;


/* crear tamaños anchos: 100% 
color botones | */

$size-titulo: 4rem;
$size-subtitulo: 2.3rem;


$ancho: 100%



