@import "footer";
@import "nav";



*{ margin: 0px;
    padding: 0px;
}



body { 
    background-image: url(../resources/bgt.jpg);
    font-family: 'Roboto', sans-serif; 
}

/* INICI0-index */

.main__principal{
    display:grid;
    grid-template-columns:1 1 1;
    grid-auto-rows:auto;
    grid-template-areas:
                        "angulina    none     none";
    border: none;
    margin: 20px;
    margin-bottom: 0px;
    padding: 3px;
    max-width: 100%;
    height: 6vh;

    .angulina{
        grid-area:angulina;
    } 

    h1 { 
        font-size:48px;
        font-family: cursive;
        color:white;
        line-height: 1;
        text-align: start;
    }
}


.history{
    font-family: cursive;
    color: white;
}





/* NUESTRAS DELICIAS  */

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-height: auto;
    justify-content: center;

    &__titulo{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-family: cursive;
        color: white;
    }
    
    &__info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    
    
    }
}

.croissant{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border: 1px solid #ffb6b9;
    border-radius: 15px;    

    &__info p{
        width: 90%;
        text-align: center;
        margin-bottom: 5px;
        line-height: 1;
    }

    & h2{
        font-family: cursive;
        color: white;
        text-align: center;
    }

    &__img{
        width: 65%;
        height: 70%;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    button{
        background-color: whitesmoke;
        padding:5px;
        border-radius: 5px;
        border: none;
        align-content: center;


        &:hover{
            transform: scale(1,1);
            transition: all 0,4ms;
            color: rgb(123, 123, 241);
        }
    }


}



/* GALERIA */

.galeria {

    &__titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
    color: white;
}

    &__info {

        margin-bottom: 15px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }



    &__grid{
        display: grid;
        width: fit-content;
        height: auto;
        padding: 20px;  
        margin:10px 10px;
        justify-content: center; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 15px;
        row-gap: 20px;
        grid-template-areas:
                            "spill   copas   tetera__dorada  flor__azul "
                            "mesa    globos  ventana  taza__cartel"                         
                            "mesita  babysh  servicio  sirviendote";  

    .tetera__dorada{
                grid-area:tetera__dorada;
    } 
    .taza__cartel{
                grid-area: taza__cartel;
    }
    .sirviendote{
                grid-area: sirviendote;
    }
    .flor__azul{
                grid-area: flor__azul;
    }
    .mesa{
            grid-area: mesa;
    }
    .globos{
            grid-area: globos;
    }
    .spill{
        grid-area: spill;
    }
    .copas{
        grid-area: copas;
    }
    .mesita{
        grid-area: mesita;
    }
    .ventana{
        grid-area: ventana;
    }
    .babysh{
        grid-area: babysh;
    }
.servicio{
        grid-area: servicio;
}
    }

    &__contenedor{
        width: 100%;
        max-height: auto;
    
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



}



/* EVENTOS */

.carousel-inner{
    height:600px
    margin-bottom 5px;

    & img{
        width: 100%;
        max-height: 600px;
    }
}

.evento__info{
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 16px;
    text-align: center;
}
h1 ,h2{
        font-family: cursive;
        color: white;
    }

.iconos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__padre{
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center; 
        border-radius: 5px;   
    }
    
    
    &__hijo{
        margin: 10px;
        padding: 20px;
        
    }
    
    &__img{
        width: 45px;
        height: 50px;
    }

}

/* EVENTO - Reserva */


.reserva{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__info{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0px 16px;
        text-align: center;

        h2{
            font-family: cursive;
        }
    }

}

/* CONTACTO */

.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

&__info{
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 16px;
    text-align: center;
    color: white;
    font-family: cursive;
    border: none;
    justify-content: center;
}

&__petalos{
    width: 100%;
    height:auto;

    & img{
        width: 100%;
        max-height: 550px;    
    }
}
}
.mensaje{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;

        h2, h3{
        font-family: cursive;
        color: white;
        }     
    }






@import "mediaqueries";