/* CONTACTO */

.card{
    border: none;
    width: $ancho;
    height:auto;

}

.contacto{

&__petalos{
    width: $ancho;
    height:auto;
    
    & img{
            width: $ancho;
            max-height: 550px;    
    }
}


&__info{
    width: $ancho;
    margin-bottom: 0px;
    padding: 0px 16px;
    text-align: center;
    @extend .fontstyle2;
    border: none;
    justify-content: center;
    }

}
.mensaje{
    width: $ancho;
    margin-top: 0px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;

        h2, h3{
            @extend .fontstyle2;
        }     

    &__lineas{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 5px;
    }   
    
    &__redes{
        display: inline;
        width: 68px;
        padding:0px 16px;
        margin-bottom: 10px;

        &:hover{
            transform: scale(1.25,1.25);
            transition: all 0,5ms;
            
        }
    }
}