


/* EVENTOS */

.carousel-inner{
    height:600px
    margin-bottom 5px;

    & img{
        width: 100%;
        max-height: 600px;
    }
}

.evento__info{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 16px;
    text-align: center;
}
h1 ,h2{
    @extend .fontstyle2;
    }

.iconos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__padre{
        background-color: $color-principal;
        margin: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center; 
        border-radius: 5px;   
    }
    
    
    &__hijo{
        margin: 10px;
        padding: 20px;
        
    }
    
    &__img{
        width: 45px;
        height: 50px;
    }

}

/* EVENTO - Reserva */


.reserva{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__info{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0px 16px;
        text-align: center;
    }
    
    h2{
            font-family: $font-titulo;
            color: $color-title;
        }

    iframe{
        width: 250px;
        height: 200px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        
    }    
}
.btn-color{
    background-color: $color-principal;
    color: white;
    border-radius: 3px;
    border: none;

    &:hover{
        transform: scale(1.10,1.25);
        transition: all 0,4ms;
        background-color: rgb(147, 209, 208);
        color: $color-terciario;
    }
}
form{
    border: 1px solid $color-principal;
    border-radius: 15px;   
    box-shadow: 4px 4px 8px  $color-principal;
}
