

/* GALERIA */

.galeria {
    
    &__titulo{
    width: $ancho;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    @extend .fontstyle2;
}

    &__info {

        margin-bottom: 15px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }



    &__grid{
        background-color: $color-principal;
        border-radius: 15px;
        display: grid;
        width: fit-content;
        max-height:auto ;
        padding: 10px;  
        padding-top: 15px;
        padding-bottom: 15px;
        margin:20px;
        justify-content: center; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 15px;
        row-gap: 15px;
        grid-template-areas:
                            "spill   copas   tetera__dorada  globos "
                            "gente    servicio  ventana  taza__cartel"                         
                            "mesita  babysh   flor__azul  sirviendote";  

    .tetera__dorada{
                grid-area:tetera__dorada;
    } 
    .taza__cartel{
                grid-area: taza__cartel;
    }
    .sirviendote{
                grid-area: sirviendote;
    }
    .flor__azul{
                grid-area: flor__azul;
    }
    .gente{
            grid-area: gente;
    }
    .globos{
            grid-area: globos;
    }
    .spill{
        grid-area: spill;
    }
    .copas{
        grid-area: copas;
    }
    .mesita{
        grid-area: mesita;
    }
    .ventana{
        grid-area: ventana;
    }
    .babysh{
        grid-area: babysh;
    }
.servicio{
        grid-area: servicio;
}
    }

    &__contenedor{
        width: $ancho;
        max-height: auto;
    
    }
    & img{
        width: $ancho;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover{
            transition: all 1ms;
            border: 5px solid $color-secundario;
            
        }
    }



}

