/* INICI0-Características generales */


*{ margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: GreatVibes;
    src: url("../resources/GreatVibes-Regular.ttf")
}

body { 
    background-color: $color-terciario;
    font-family: $font-principal; 
}

/* INICIO */

.home{
    border: none;
    width: $ancho;
    height:auto;

    &-title{
    color:$color-terciario;
    @extend .fontstyle;
    text-shadow: 3px 1px 3px $color-title;
}
    &-subtitle{
    color:$color-terciario;
    @extend .fontstyle2;
    text-shadow: 3px 1px 3px $color-title;
}
}

.card-img-home{
    width: $ancho;
    max-height: 500px;  
    filter: opacity(80%);
}

.history{
    @extend .fontstyle2;
}

.img-fluid{
        filter: opacity(90%);
    }


