/* INICI0-index */


*{ margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: fuente-titulos;
    src: url("../resources/GreatVibes-Regular.ttf")
}

body { 
    background-color: $color-terciario;
    font-family: $font-principal; 
}

.home{
    border: none;

    width: 100%;
    height:auto;
}
.home-title{
    color:$color-terciario;
    text-shadow: 3px 1px 3px rgb(154, 78, 240);
    font-family: $font-titulo;
    font-size: 3.5rem;
}


.card-img-home{
    width: 100%;
    max-height: 500px;  
    filter: opacity(80%);
}

.history{
    font-family: $font-titulo;
    color: $color-title;
}

