/* NUESTRAS DELICIAS (MENU) */

.menu{
    display: flex;
    flex-wrap: wrap;
    width: $ancho;
    padding: 5px;
    justify-content: center;

    &__titulo{
        width: $ancho;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 3px;
        @extend .fontstyle2;
    }
    
    &__info {
        width: $ancho;
        text-align: center;
        margin-bottom: 20px;
    
    
    }
}

.producto{
    width: 250px; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;   
    box-shadow: 4px 4px 8px  $color-principal;

    &__info p{
        width: 90%;
        text-align: start;
        margin-bottom: 5px;
        line-height: 1;
        align-items: flex-start;
    }

    & h2{
        @extend .fontstyle2;
        text-align: start;
    }

    &__img{
        width: 98%;
        height: 70%;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    &__boton{
        background-color: $color-principal;
        color: $color-terciario;
        padding:5px;
        border-radius: 10px;
        border: none;
        align-content: flex-end;
        margin-bottom: 6px;
        


        &:hover{
            transform: scale(1.10,1.25);
            transition: all 0,4ms;
            background-color: $boton-color;
            color: $color-terciario;
        }
    }


}

