/* NUESTRAS DELICIAS  */

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-height: auto;
    justify-content: center;

    &__titulo{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-titulo;
        color: $color-title;
    }
    
    &__info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    
    
    }
}

.croissant{
    width: 250px; /* 350 */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border: 1px solid $color-principal;
    border-radius: 15px;   
    box-shadow: 4px 4px 8px  rgb(147, 209, 208);

    &__info p{
        width: 90%;
        text-align: start;
        margin-bottom: 5px;
        line-height: 1;
        align-items: flex-start;
    }

    & h2{
        font-family: $font-titulo;
        color: $color-title;
        text-align: start;
    }

    &__img{
        width: 98%;
        height: 70%;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    
    &__boton{
        background-color: $color-principal;
        color: white;
        padding:5px;
        border-radius: 10px;
        border: none;
        align-content: flex-end;
        margin-bottom: 6px;
        


        &:hover{
            transform: scale(1.10,1.25);
            transition: all 0,4ms;
            background-color: rgb(147, 209, 208);
            color: $color-terciario;
        }
    }


}

